<section class="top" id="page-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/"><img class="img-responsive logo" src="https://s3-us-west-2.amazonaws.com/graham-legal/general/graham_logo.png" alt="Graham Legal"></a>
                </div>
                <div class="col-sm-8">
                    <div class="phrase">
                        <h3>Call Today for a Free Consultation (305) 445-9185</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-1">
                    <div class="box-form">
                        <h3>There is no cost to you until we win</h3>
                        <%= form_for Contact.new, :html => { :honeypot => true }, :url => {:controller => "contacts", :action => "create"} do |f| %>
                            <div class=" control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <%= f.label :name %>
                                    <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true, data: {validation_required_message: "Please enter your name."} %>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class=" control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <%= f.label :email %>
                                    <%= f.text_field :email, class: 'form-control', placeholder: 'Email Address', required: true, data: {validation_required_message: "Please enter your email."} %>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class=" control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <%= f.label :phone_number %>
                                    <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Phone Number', required: true, data: {validation_required_message: "Please enter your phone number."} %>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class=" control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <%= f.label :case_information %>
                                    <%= f.text_area :case_information, class: 'form-control', placeholder: 'Case Information', required: true, rows: 3, data: {validation_required_message: "Please enter a message."} %>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <%= f.submit "Send", class: "btn btn-success btn-lg", style: "margin-right: 30px;" %>
                                    <a href="tel:3054459185" class="btn btn-success-reverse btn-lg">Call (305) 445-9185</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                <% if flash[:success].present? %>
                                <p class="contact-success"><%= flash[:success] %></p>
                                <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="headline">
        <h1>We are here to help you win your case.</h1>
    </section>

    <section class="success">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>If you are the victim of the negligent behavior of others, don’t feel ashamed to speak to our team of personal injury attorneys. The term “accident” does not excuse anyone from liability, and as a victim, you are entitled to <span>collect payment for damages</span>.</p>
                </div>
                <div class="col-md-4">
                    <p class="second">We’ve helped many people get back on their feet and obtain the compensation they deserve.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <p><span>“</span>Dillon is extremely professional, intelligent and implements impressive strategic planning on all his cases. He fights very smart and strategically, he will put the opposing counsel on the edge every time. He is not just any attorney as the many you find out there. He does thorough research and documents his cases very well. He will never be unprepared in front of a courtroom. He is an excellent trial attorney. Other attorneys speak highly of him, when you mention his name. Thanks Graham Legal, P.A. for having defended us and winning our case.<span>“</span></p>
                    <p class="author">- Veronica Brizuela - </p>
                    <div class="page-scroll">
                        <a class="btn btn-graham " href="#contact" role="button">Get Case Evaluation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="success cover">
        <div class="container">
            <div class="row">
                <h3>Areas we cover</h3>
                <div class="col-sm-3">
                    <h4>1</h4>
                    <p>Auto accidents</p>
                </div>
                <div class="col-sm-3">
                    <h4>2</h4>
                    <p>Slip and Fall</p>
                </div>
                <div class="col-sm-3">
                    <h4>3</h4>
                    <p>Wrongful Death</p>
                </div>
                <div class="col-sm-3">
                    <h4>4</h4>
                    <p>Medical Malpractice</p>
                </div>
            </div>
        </div>
    </section>

    <section class="graham">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p>For anyone looking for an experienced, honest, and hardworking personal injury attorney, then look no further than Graham Legal, P.A.</p>
                </div>
                <div class="col-md-3">
                    <div class="page-scroll">
                        <a class="btn btn-graham " href="#contact" role="button">Get Case Evaluation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div id="new_contact_2" class="col-lg-12 text-center">
                    <h3>There is no cost to you until we win</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <%= form_for Contact.new, :html => {:id => 'create_contact_2', honeypot: true}, :url => {:controller => "contacts", :action => "create_contact"} do |f| %>
                        <div class=" control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label :name, id: "eshs" %>
                                <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true, data: {validation_required_message: "Please enter your name."} %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class=" control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label :email %>
                                <%= f.text_field :email, class: 'form-control', placeholder: 'Email Address', required: true, data: {validation_required_message: "Please enter your email."} %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class=" control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label :phone_number %>
                                <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Phone Number', required: true, data: {validation_required_message: "Please enter your phone number."} %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class=" control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <%= f.label :case_information %>
                                <%= f.text_area :case_information, class: 'form-control', placeholder: 'Case Information', required: true, rows: 3, data: {validation_required_message: "Please enter a message."} %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <%= f.submit "Send", class: "btn btn-success btn-lg" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <% if flash[:notice].present? %>
                                <p class="contact-notice"><%= flash[:notice] %></p>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>814 Ponce de Leon Boulevard, Ponce Plaza, Suite 410, Coral Gables, FL 33134</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/GrahamLegal" class="btn-social btn-outline" target="_blank"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/grahamlegalpa" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/graham-legal-p.a." class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/118005494047432386375/about" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Graham Legal, PA.</h3>
                        <p>P: (305) 445-9185  -  F: (305) 444-8015  <br>  E: info@grahamlegalpa.com  <br>  W: GrahamLegalPA.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>