<h1>You have recevied a new contact for Graham Legal</h1>

<h3>Contact Details</h3>

<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone: <%= @contact.phone_number if @contact.phone_number.present? %></p>
<p>Message: <%= @contact.case_information %></p>