/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.img-centered {
  margin: 0 auto;
}
section.top {
  background: #fff;
  padding: 30px 0;
  border-bottom: 10px solid #ff6c0c;
}
.phrase {
  padding: 15px 30px;
  float: right;
  margin-top: 50px;
}
.phrase h3, header h3 {
  color: #244c5a;
  margin: 0;
  font-weight: 300;
  text-transform: none;
  font-size: 24px;
}

header {
  background: url("https://s3-us-west-2.amazonaws.com/graham-legal/general/graham.jpg");
  background-size: cover;
  min-height: 750px;
  background-position: 50% 20%;
  position: relative;
  text-align: left;
}
header .container {
  padding: 150px 0;
}
header .box-form {
  background-color: #fff;
}
header .box-form h3 {
  font-size: 34px;
  margin-bottom: 15px;
  padding: 30px;
  background-color: #f16623;
  color: #fff;
  text-align: center;
}
header .box-form form {
  padding: 0 30px 15px;
}

@media only screen and (max-width: 767px) {
  header .box-form h3 {
    font-size: 28px;
  }
}

.headline  {
  width: 100%;
  padding: 45px 0;
  background-color: #1a252b;
  text-align: center;
}
.headline h1 {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  color: #fff;
}
@media only screen and (max-width: 1133px) {
  .headline h1 {
    font-size: 2.6em;
  }
}
@media only screen and (max-width: 991px) {
  .headline h1 {
    font-size: 2em;
  }
}


section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #f9f9f9;
  color: #898d8d;
}
section.success p,
section.success p.second {
    font-size: 24px;
    line-height: 44px;
    text-align: left;
}
section.success p span {
    color: #f16623;
    font-weight: bold;
}
section.success p.second {
    color: #1a252b;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  border-left: 5px solid #898d8d;
  padding-left: 20px;
}
section.success h3, section#contact h3 {
  color: #1a252b;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 38px;
  text-align: center;
  margin-bottom: 45px;
}

section.testimonial p {
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    color: #898d8d;
}
section.testimonial p span {
    color: #f16623;
    font-weight: bold;
    font-size: 50px;
    line-height: 12px;
}
section.testimonial p.author {
   color: #1a252b;
  font-style: italic;
}

section.cover h4 {
    color: #f16623;
    border: 3px solid #f16623;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 45px;
    margin: 30px auto 0;
}
section.cover p {
    text-align: center;
    margin: 13px 0 0;
}


section.graham {
  background: url("https://s3-us-west-2.amazonaws.com/graham-legal/general/graham_b.jpg");
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  text-align: left;
  padding: 150px 0;
}
section.graham p {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
}
.btn-graham {
    background: #f16623;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 40px;
}
.btn-graham:hover {
    opacity: 0.8;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    section.success p.second {
      margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .headline h1 {
      font-size: 2em;
      line-height: 40px;
  }
  img.logo {
      margin:0 auto;
  }
  .phrase {
      float: inherit;
      margin-top: 25px;
      text-align: center;
  }
}


.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #f16623;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
    color: white;
    background-color: #244c5a;
    border-color: #244c5a;
    font-weight: 700;
    margin: 30px 0 0;
    padding: 10px 30px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #1a252b;
  border-color: #1a252b;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}

#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #18BC9C;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
}

/*Flash Message*/
.contact-success {
  background-color: #dff0d8 !important;
  padding: 5px 10px;
  color: #3c763d;
}
.contact-notice {
  background-color: #dff0d8 !important;
  padding: 5px 10px;
  color: #3c763d;
}


.btn-success-reverse {
  color: #244c5a;
  background-color: white;
  border-color: #244c5a;
  font-weight: 700;
  margin: 30px 0 0;
  padding: 10px 30px;
  &:hover{
    color: white;
    background-color: #244c5a;
  };
}


