<!DOCTYPE html>
<html>
  <head>
    <title>Grahamlegal</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "//s3-us-west-2.amazonaws.com/graham-legal/general/graham_logo.png", rel: 'icon', type: 'image/png'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-48338332-1', 'grahamlegalpa.com');
      ga('send', 'pageview');
   </script>
  </head>

  <body class='<%= "#{controller_name} #{action_name}"%>'>
    <%= yield %>
  </body>
</html>
